<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Gamification Form </title>
    <link rel="stylesheet" href="/static/style2.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Wealth Hunt 2020</div>
    <div class="content">
      <form action="{{ url_for('gamification') }}" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Savings</span>
            <input type="text" name="savings" placeholder="Enter amount of Equity" required>
          </div>
	  <div class="input-box">
            <span class="details">Ctc</span>
            <input type="text" name="ctc" placeholder="Enter amount of Equity" required>
          </div>
	  <div class="input-box">
            <span class="details">Equity</span>
            <input type="text" name="equity" placeholder="Enter amount of Equity" required>
          </div>
          <div class="input-box">
            <span class="details">Bonds</span>
            <input type="text" name="bond" placeholder="Enter type of bond" required>
          </div>
          <div class="input-box">
            <span class="details">Gold</span>
            <input type="text" name="gold" placeholder="Enter amount of Gold" required>
          </div>
          <div class="input-box">
            <span class="details">Mutual Funds</span>
            <input type="text" name="mutualfund" placeholder="Enter your Mutual Funds" required>
          </div>
          <div class="box">
             <input type="submit" href="#popup">
          </div>
        	
        </div>
      </form>
        <div id="popup1" class="overlay">
            <div class="popup">
                <h2>Congrats!</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    You have made Rs {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <!-- Do something with the message -->
            {{ message }}

        {% endfor %}
    {% endif %}
{% endwith %}
  this year.<br>
                    Your Total investment is now Rs xxxxxxx.

                </div>
            </div>
        </div>
                </div>
            </form>
            </div>
        </div>

</body>
</html>